.bg-header {
    background-image   : url(/assets/img/header_bg.png);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
}

.video-card {
    background-color: #f89e19;
    border          : none;
    border-radius   : 1rem;
}

.video-card video {
    max-width              : 100%;
    height                 : 218px;
    border-top-left-radius : 1rem;
    border-top-right-radius: 1rem;
}